<div id="wrapper">
  <app-header></app-header>
  <div id="content">

    <article>
      <h2>Aanbod 1</h2>
      <div class="spacing-line"></div>
      <br/>

      <div class="aanbod-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur doloremque dolores doloribus
        expedita placeat soluta temporibus voluptatum? Aspernatur consequuntur dolorum earum facere nihil odio quasi
        ratione veniam vitae voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus perspiciatis placeat praesentium quidem vel?
        Aperiam, consequatur cumque eveniet expedita facilis illum iusto possimus provident quam sint velit, veniam vero
        voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa dolor illum, in numquam quos sunt. At
        corporis dicta doloremque eius, ex explicabo libero minus natus necessitatibus nesciunt quis soluta.
      </div>

      <img class="aanbod-image" src="../../assets/pictures/dakwerk.png" alt="Foto van aanbod 1"/>

    </article>

    <article>
      <h2>Aanbod 2</h2>
      <div class="spacing-line"></div>
      <br/>

      <div class="aanbod-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur doloremque dolores doloribus
        expedita placeat soluta temporibus voluptatum? Aspernatur consequuntur dolorum earum facere nihil odio quasi
        ratione veniam vitae voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus perspiciatis placeat praesentium quidem vel?
        Aperiam, consequatur cumque eveniet expedita facilis illum iusto possimus provident quam sint velit, veniam vero
        voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa dolor illum, in numquam quos sunt. At
        corporis dicta doloremque eius, ex explicabo libero minus natus necessitatibus nesciunt quis soluta.
      </div>

      <img class="aanbod-image" src="../../assets/pictures/dakwerk.png" alt="Foto van aanbod 2"/>

    </article>

    <article>
      <h2>Aanbod 3</h2>
      <div class="spacing-line"></div>
      <br/>

      <div class="aanbod-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur doloremque dolores doloribus
        expedita placeat soluta temporibus voluptatum? Aspernatur consequuntur dolorum earum facere nihil odio quasi
        ratione veniam vitae voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus perspiciatis placeat praesentium quidem vel?
        Aperiam, consequatur cumque eveniet expedita facilis illum iusto possimus provident quam sint velit, veniam vero
        voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa dolor illum, in numquam quos sunt. At
        corporis dicta doloremque eius, ex explicabo libero minus natus necessitatibus nesciunt quis soluta.
      </div>

      <img class="aanbod-image" src="../../assets/pictures/dakwerk.png" alt="Foto van aanbod 3"/>

    </article>

    <article>
      <h2>Aanbod 4</h2>
      <div class="spacing-line"></div>
      <br/>

      <div class="aanbod-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur doloremque dolores doloribus
        expedita placeat soluta temporibus voluptatum? Aspernatur consequuntur dolorum earum facere nihil odio quasi
        ratione veniam vitae voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus perspiciatis placeat praesentium quidem vel?
        Aperiam, consequatur cumque eveniet expedita facilis illum iusto possimus provident quam sint velit, veniam vero
        voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa dolor illum, in numquam quos sunt. At
        corporis dicta doloremque eius, ex explicabo libero minus natus necessitatibus nesciunt quis soluta.
      </div>

      <img class="aanbod-image" src="../../assets/pictures/dakwerk.png" alt="Foto van aanbod 4"/>

    </article>


    <article>
      <h2>Aanbod 5</h2>
      <div class="spacing-line"></div>
      <br/>

      <div class="aanbod-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur doloremque dolores doloribus
        expedita placeat soluta temporibus voluptatum? Aspernatur consequuntur dolorum earum facere nihil odio quasi
        ratione veniam vitae voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus perspiciatis placeat praesentium quidem vel?
        Aperiam, consequatur cumque eveniet expedita facilis illum iusto possimus provident quam sint velit, veniam vero
        voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa dolor illum, in numquam quos sunt. At
        corporis dicta doloremque eius, ex explicabo libero minus natus necessitatibus nesciunt quis soluta.
      </div>

      <img class="aanbod-image" src="../../assets/pictures/dakwerk.png" alt="Foto van aanbod 5"/>

    </article>
  </div>
  <app-footer></app-footer>
</div>
