<div id="wrapper">
  <app-header></app-header>
  <div id="content">

    <article>
      <h2>Pannendaken</h2>
      <div class="spacing-line"></div>
      <br/>

      <div class="aanbod-content">
        Renovatie, nieuwbouw en reparatie. Het plaatsen van dakkapellen. <br/>
        Het repareren van stormschades en lekkages en aanpassingen.
      </div>

      <img class="aanbod-image" src="../../assets/pictures/projecten/2020%20Q2/1/11.jpg" alt="Foto van aanbod 1"/>

    </article>

    <article>
      <h2>Platte daken</h2>
      <div class="spacing-line"></div>
      <br/>

      <div class="aanbod-content">
        Renovatie, nieuwbouw, reparatie, het oplossen van lekkages, <br/>
        het plaatsen van lichtstraten, koepels en het oplossen/repareren van stormschades.
      </div>

      <img class="aanbod-image" src="../../assets/pictures/projecten/2020%20Q3/4/9.jpg" alt="Foto van aanbod 2"/>

    </article>

    <article>
      <h2>Zink- en felswerk</h2>
      <div class="spacing-line"></div>
      <br/>

      <div class="aanbod-content">
        Renovatie, nieuwbouw, afwerking, repareren van lekkages en aanpassingen. <br/>
        Het vervangen of plaatsen van goten, hemelwaterafvoeren en gevelbekleding.
      </div>

      <img class="aanbod-image" src="../../assets/pictures/projecten/2020%20Q3/3/1.jpg" alt="Foto van aanbod 3"/>

    </article>

  </div>
  <app-footer></app-footer>
</div>
