div#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  clear: both;
  height: auto;
  overflow: hidden;
  margin-bottom: 0;
  background: lightgrey;
  padding: 2vw 2% 2vw 0;
}

app-footer {
  width: 100%;
  color: white;
  text-align: center;
}

app-header {
  overflow: hidden;
  width: 100%;
  height: auto;
}

article {
  width: 70%;
  border: #FF650A solid 3px;
  border-radius: 5px;
  margin-bottom: 2vw;
  padding: 1%;
  margin-left: 15%;
  overflow: auto;
}

article h2 {
  color: black;
}

article .spacing-line {
  height: 0.5vh;
  background-color: black;
}

article .aanbod-image {
  height: 15%;
  width: 15%;
  float: right;
}

article .aanbod-content {
  width: 80%;
}

@media only screen and (max-width: 800px) {
  article {
    float: left;
    display: block;
  }

  article .aanbod-image {
    height: 50%;
    width: 50%;
    float: left;
  }

}
