<div id="wrapper">
  <app-header></app-header>
  <div id="content">
    <div id="picture-area">
      <img src="../../assets/pictures/voorpagina1.jpg">
      <img src="../../assets/pictures/voorpagina2.jpg">
    </div>
    <div id="info-area">
      <h1>Thuvis Dakwerken BV voor al uw platte- en hellende daken, zink- en loodwerk.</h1><br/>
    <p>
      Thuvis Dakwerken BV is een veelzijdig bedrijf, dat u graag wil bijstaan voor al uw dak werkzaamheden voor wat betreft nieuwbouw, renovatie en reparaties. Ook indien u lekkages krijgt staan wij altijd vakkundig voor u klaar. <br/><br/>
      Of het nu gaat om bitumineuze of EPDM dakbedekkingen, isolatie, zinken dakgoten, loodwerk of onderhoudswerkzaamheden, voor elk dak en onder alle omstandigheden kan Thuvis Dakwerken BV een professionele oplossing bieden.<br/><br/>
      Wij zijn een tweede generatie bedrijf. De passie en nauwkeurigheid is van vader op zoon overgebracht.
    </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
