div#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  clear: both;
  height: auto;
  overflow: auto;
  margin-bottom: 2%;
}

.picture-area {
  text-align: center;
}

.picture-area:first-child {
  padding: 0 10% 0 10%;
  background: lightgrey;
}

.picture-area img {
  border: 5px solid dimgrey;
  margin: 5% 5% 2% 5%;
  opacity: 0.85;
  height: 40vh;
  width: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 40px 0 rgba(0, 0, 0, 0.4);;
}

#info-area {
  padding: 2% 20% 2% 20%;
  background: white;
}

app-footer {
  width: 100%;
  color: white;
  text-align: center;
}

app-header {
  overflow: hidden;
  width: 100%;
  height: auto;
}

#footer-upperline {
  height: 0.8vh;
  background-color: dimgrey;
}

iframe {
  display: block;
  width: 100%;
  height: 35vh;
}

#lower-nav a:first-child {
  color: #FF650A;
}

h1 {
  color: #FF650A;
}

figure {
  padding: 0;
  size: auto;
  text-align: center;
  max-width: 50%;
  float: left;
  margin-right: 5%;
}

.picture-area:last-child img {
  border: 5px solid black;
  height: 30vh;
  margin: 0 0 3% 0;
}

.picture-area:last-child {
  margin-bottom: 5%;
}

@media only screen and (max-width: 1374px) {

  .picture-area {
    padding: 0;
  }

  .picture-area img {
    height: 28vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
  }

  .picture-area:last-child img {
    height: 20vh;
    margin: 3vh 3vh 3vh 0;
  }


  #info-area {
    padding: 2% 5% 2% 5%;
  }


}



