<div id="wrapper">
  <app-header></app-header>
  <div id="content">
    <div id="picture-area">
      <img src="../../assets/pictures/dakwerk.png">
      <img src="../../assets/pictures/dakwerk2.jpg">
    </div>
    <div id="info-area">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula neque consectetur lorem ornare scelerisque. Praesent ut dictum ligula, quis laoreet arcu. Pellentesque quis metus pretium, vehicula nulla nec, accumsan eros. Etiam id metus elementum, efficitur massa et, malesuada orci. Etiam enim odio, rhoncus sed interdum id, rhoncus sit amet tortor. Vivamus in libero lobortis, rhoncus est in, ornare sapien. Sed sollicitudin dictum enim quis mollis. Vivamus vel est nisl.

      Nam tellus diam, fringilla ut porttitor non, convallis quis nisl. Pellentesque gravida vestibulum vestibulum. Vivamus eget gravida nisl, ac imperdiet lorem. Proin faucibus pellentesque nisi ac pulvinar. Praesent est ante, lobortis sed metus ut, sodales egestas elit. Suspendisse nec ipsum id lacus fermentum aliquam sit amet sed libero. Phasellus elementum fermentum mi, eu tristique orci tincidunt a.
    </p>
    </div>
  </div>
  <div id="footer-upperline"></div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3364.3844212049803!2d5.4379936644821205!3d51.48924901699638!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6dc1e7699d7a7%3A0x5b0b581aaf4aa558!2sMoulinshof%205%2C%205627%20TC%20Eindhoven%2C%20Nederland!5e0!3m2!1snl!2sus!4v1567510316504!5m2!1snl!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  <app-footer></app-footer>
</div>
