<div id="wrapper">
  <app-header></app-header>
  <div id="content">

    <div id="timeline">
      <ul id="dates">
        <li><a href="#2019">2019</a></li>
        <li><a href="#2020" class="selected">2020</a></li>
      </ul>
      <ul id="issues">
        <li id="2019">
          <img src="../../assets/pictures/dakwerk.png" width="256" height="256" />
          <h1>2019</h1>
          <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
        </li>
        <li id="2020">
          <img src="../../assets/pictures/dakwerk2.jpg" width="256" height="256" />
          <h1>2020</h1>
          <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
        </li>
      </ul>
      <div id="grad_top"></div>
      <div id="grad_bottom"></div>
      <a id="next">+</a>
      <a id="prev">-</a>
    </div>

  </div>
  <app-footer></app-footer>
</div>
