<div id="wrapper">
  <app-header></app-header>
  <div id="content">

    <div class="timeline">
      <div class="container left">
        <div class="content">
          <h2>2019 Kwartaal 3</h2>
          <p>Hellend dak gemaakt in ... in opdracht van ...</p>
          <br />
          <img src="../../assets/pictures/dakwerk2.jpg" alt="Hellend dak"/>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>2019 Kwartaal 2</h2>
          <p>Lorem ipsum..</p>
          <br />
          <img src="../../assets/pictures/dakwerk.png" alt="Hellend dak"/>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>2019 Kwartaal 1</h2>
          <p>Mooi dak</p>
          <br />
          <img src="../../assets/pictures/logo.jpg" alt="logo"/>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>2018 Kwartaal 4</h2>
          <p>Speciaal dak</p>
          <br />
          <img src="../../assets/pictures/dakwerk2.jpg" alt="logo"/>
        </div>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
