<div id="wrapper">
  <app-header></app-header>
  <div id="content">

    <div class="timeline">
      <div class="container left">
        <div class="content">
          <h2>2020 Kwartaal 2</h2>

          <br/>
          <p><b>Renovatie in Waalre-dorp van 3 woningen en 2 garages</b></p>
          <br/>

          <div class="pictures">
            <img src="../../assets/pictures/projecten/2020%20Q2/1/1.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/2.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/3.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/4.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/5.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/6.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/7.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/8.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/9.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/10.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/11.jpg" alt="Hellend dak"/>
            <img src="../../assets/pictures/projecten/2020%20Q2/1/12.jpg" alt="Hellend dak"/>
          </div>
        </div>
      </div>

      <div class="container right">
        <div class="content">
          <h2>2020 Kwartaal 3</h2>

          <br/>
          <p><b>Plaatsen veranda Lommel</b></p>
          <br/>

          <div class="pictures">
            <img src="../../assets/pictures/projecten/2020%20Q3/1/1.jpg" alt="verandaLommel"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/1/2.jpg" alt="verandaLommel"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/1/3.jpg" alt="verandaLommel"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/1/4.jpg" alt="verandaLommel"/>
          </div>

          <br/>
          <br/>
          <p><b>Waalre, kelder renovatie anti wortel dakbedekking</b></p>
          <br/>

          <div class="pictures">
            <img src="../../assets/pictures/projecten/2020%20Q3/2/1.jpg" alt="antiwortel"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/2/2.jpg" alt="antiwortel"/>
          </div>

          <br/>
          <br/>
          <p><b>Eindhoven schoorsteen renovatie, vervangen van lood</b></p>
          <br/>

          <div class="pictures">
            <img src="../../assets/pictures/projecten/2020%20Q3/3/1.jpg" alt="lood"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/3/2.jpg" alt="lood"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/3/3.jpg" alt="lood"/>
          </div>

          <br/>
          <br/>
          <p><b>Eindhoven, renovatie nok pannendak en dakkapel plat dak</b></p>
          <br/>
          <div class="pictures">
            <img src="../../assets/pictures/projecten/2020%20Q3/4/1.jpg" alt="renovatie_kapel_nok"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/4/2.jpg" alt="renovatie_kapel_nok"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/4/3.jpg" alt="renovatie_kapel_nok"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/4/4.jpg" alt="renovatie_kapel_nok"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/4/5.jpg" alt="renovatie_kapel_nok"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/4/6.jpg" alt="renovatie_kapel_nok"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/4/7.jpg" alt="renovatie_kapel_nok"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/4/8.jpg" alt="renovatie_kapel_nok"/>
            <img src="../../assets/pictures/projecten/2020%20Q3/4/9.jpg" alt="renovatie_kapel_nok"/>
          </div>

        </div>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
