<nav>

  <div id="upper-nav">
    <img src="../../assets/pictures/logo.jpg">
  </div>

  <div id="lower-nav">
    <i class="fa fa-bars"></i>
    <div id="routing-buttons">
      <a [routerLink]="['/start']">
        <button class="btn draw-border">
          Start
        </button>
      </a>
      <a [routerLink]="['/aanbod']">
        <button class="btn draw-border">
          Aanbod
        </button>
      </a>
      <a [routerLink]="['/projecten']">
        <button class="btn draw-border">
          Projecten
        </button>
      </a>
      <a [routerLink]="['/contact']">
        <button class="btn draw-border">
          Contact
        </button>
      </a>
      <a [routerLink]="['/offerte']">
        <button class="btn draw-border">
          Offerte
        </button>
      </a>
      <a [routerLink]="['/vacature']">
        <button class="btn draw-border">
          Vacature
        </button>
      </a>
    </div>
  </div>
  <div id="nav-underline"></div>
</nav>
